<div class="overflow-x-auto" style="display: flex; justify-content: center">
    <table class="table" style="width:700px;">
        <!-- head -->
        <thead>
        <tr>
            <th>Pošiljatelj</th>
            <th>Poruka</th>
        </tr>
        </thead>
        <!-- body -->
        <tbody>
        {{#each result.items}}
            <tr>
                <td>{{this.posiljatelj}}</td>
                <td>{{this.poruka}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>